data/wsdl/auth/SendCardDataSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Christine Miyachi (Xerox Corporation) -->
<!--10/12/10     1.0.1    Removed Choice element and made it a sequence since choice is not foward/backward compatible -->
<!--05/31/11    1.1.0  Added changes for platform use of prox cards (and kept backward compatability)-->
<!--06/15/11    1.1.1  removed optional elements related to card data types-->
<!--02/23/14  1.2.0   Added bar code types-->
<!--04/02/14  1.2.1   Added support for generic card data-->
<!--12/1/14  1.2.2  Fixed circular reference to barCodeData by creating barCodeDataString-->
<!--12/18/14  1.2.3  Changed name of barCodeData by creating barCodeCardData for consistency - added optional vendor and product IDs for all card data-->
<!--12/19/14  1.2.4  Moved vendor and product ID to end of sequence-->
<!--12/19/14  1.2.6  Moved vendor and product ID to optional reader info structure;  removed un-needed comments, named bar code data consistently-->
<!--12/23/14  1.2.7  added bulk card data; removed comments -->
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.2.7">
	<xs:element name="cardReaderType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MagneticStripe"/>
				<xs:enumeration value="Proximity"/>
				<xs:enumeration value="Barcode"/>
				<xs:enumeration value="Generic"/>
				<xs:enumeration value="MagneticBulk"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="proxDataSize" type="xs:long"/>
	<xs:element name="genDataSize" type="xs:long"/>
	<xs:element name="barcodeDataSize" type="xs:long"/>
	<xs:element name="magBulkDataSize" type="xs:long"/>
	<xs:element name="proxData" type="xs:string"/>
	<xs:element name="genData" type="xs:string"/>
	<xs:element name="barcodeData" type="xs:string"/>
	<xs:element name="magBulkData" type="xs:string"/>
	<xs:element name="Data" type="xs:string"/>
	<xs:element name="bitLength" type="xs:integer"/>
	<xs:element name="tracks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="track" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="trackNumber" type="xs:short"/>
							<xs:element name="trackData" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--This is the data set to use with proximity cards-->
	<xs:element name="proximityCardData">
		<xs:complexType>
			<xs:all>
				<xs:element name="vendorID" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="productID" minOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="bitLength" minOccurs="0"/>
				<!--The number of bytes in the data-->
				<xs:element ref="proxDataSize" minOccurs="1"/>
				<!---->
				<xs:element ref="proxData" minOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="genericCardData">
		<xs:complexType>
			<xs:all>
				<!--The number of bytes in the data-->
				<xs:element ref="genDataSize" minOccurs="1"/>
				<!---->
				<xs:element ref="genData" minOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="barcodeCardData">
		<xs:complexType>
			<xs:all>
				<!--The number of bytes in the data-->
				<xs:element ref="barcodeDataSize" minOccurs="1"/>
				<!---->
				<xs:element ref="barcodeData" minOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="magBulkCardData">
		<xs:complexType>
			<xs:all>
				<xs:element ref="magBulkDataSize" minOccurs="1"/>
				<!---->
				<xs:element ref="magBulkData" minOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="readerInfo">
		<xs:complexType>
			<xs:all>
				<xs:element name="vendorID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="productID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="cardDataPayload">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaVersion">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MajorVersion" type="xs:short"/>
							<xs:element name="MinorVersion" type="xs:short"/>
							<xs:element name="Revision" type="xs:short"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="cardReaderType">
					<xs:annotation>
						<xs:documentation>MagneticStripe,Proximity, Barcode, Generic, Bulk</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cardData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tracks" minOccurs="0"/>
							<xs:element ref="proximityCardData" minOccurs="0"/>
							<xs:element ref="genericCardData" minOccurs="0"/>
							<xs:element ref="barcodeCardData" minOccurs="0"/>
							<xs:element ref="magBulkCardData" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="readerInfo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information about the card reader </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
